<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tripImages</key>
	<array>
		<string>upcoming1</string>
		<string>upcoming2</string>
	</array>
	<key>tripNames</key>
	<array>
		<string>Napa Valley Wine Train, Sterling Vineyards,Castello di Amoroso</string>
		<string>Grand Canyon South Rim, Death Valley</string>
	</array>
</dict>
</plist>
